<div class="container my-auto">
  <div class="row">
    <div class="col-lg-4 col-md-8 col-12 mx-auto">
      <div class="card z-index-0 fadeIn3 fadeInBottom">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
            <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Editor</h4>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="send()" [formGroup]="group" role="form"
            class="text-start">
            <div *ngFor="let item of items" class="input-group input-group-outline my-3">
              <ng-container *ngIf="checkInputTypes(item.type)">
                <label *ngIf="item.type !== 'hidden'" class="form-label">{{ item.title }}</label>
                <input
                  [formControlName]="item.key"
                  [type]="item.type"
                  class="form-control">
              </ng-container>
            </div>

            <!-- <div class="form-check form-switch d-flex align-items-center mb-3">
              <input class="form-check-input" type="checkbox" id="rememberMe">
              <label class="form-check-label mb-0 ms-2" for="rememberMe">
                {{ '' }}
              </label>
            </div> -->

            <div class="text-center">
              <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
