<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">{{ title }}</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  *ngFor="let col of cols"
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    {{ col.title }}
                </th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of rows">
                <td *ngFor="let col of cols">
                  <div class="d-flex px-3">
                    <div>{{ row[col.key] }}</div>
                  </div>
                </td>
                <td>
                  <button class="btn btn-info mt-3">
                    <i class="material-icons opacity-10">edit</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
